name: SmallRye Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17, 21, 25]
    name: build with jdk ${{matrix.java}}

    steps:
      - uses: actions/checkout@v4
        name: checkout

      - uses: actions/setup-java@v4
        name: set up jdk ${{matrix.java}}
        with:
          distribution: 'temurin'
          java-version: ${{matrix.java}}
          cache: 'maven'
          cache-dependency-path: '**/pom.xml'

      - name: build with maven
        run: mvn -B formatter:validate verify --file pom.xml

      - uses: actions/upload-artifact@v4
        name: tck-report
        with:
          name: tck-report-java-${{matrix.java}}
          path: testsuite/tck/target/surefire-reports

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        java: [17, 21, 25]
    name: build with jdk ${{matrix.java}} windows

    steps:
      - uses: actions/checkout@v4
        name: checkout

      - uses: actions/setup-java@v4
        name: set up jdk ${{matrix.java}}
        with:
          distribution: 'temurin'
          java-version: ${{matrix.java}}
          cache: 'maven'
          cache-dependency-path: '**/pom.xml'

      - name: build with maven
        run: mvn -B formatter:validate verify --file pom.xml

  quality:
    needs: [build]
    if: github.event_name == 'push' && github.repository_owner == 'smallrye'
    runs-on: ubuntu-latest
    name: quality

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'
          cache-dependency-path: '**/pom.xml'

      - name: build with docs and coverage
        run: | 
          mvn verify -Pcoverage javadoc:javadoc
          mvn sonar:sonar -Psonar -Dsonar.token=${{secrets.SONAR_TOKEN}}
